html,
body {
	font-family: Tahoma, sans-serif;

}

body {
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	overflow-x: hidden;
}

.right{
	position: relative;
	right: 620px;

}

/* Navigation Links Styles */

.nav-links {
  list-style: none;
  display: flex;
  align-items: right;
  margin-left: 10px;
  position: relative;
  right: 750px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ddd;
}

.nav-button {
    color: white;
    background-color: cyan;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.nav-button:hover {
    background-color: darkcyan; 
    color: white;
}


.rounded {
	position: relative;
	right: 65%;
}

body {
	margin: 0;
	overflow-x: hidden;
	background: #ffffff;
}

.footer {
	background: #141414;
	padding: 30px 0px;
	font-family: 'Play', sans-serif;
	text-align: center;
}

.footer .row {
	width: 100%;
	margin: 1% 0%;
	padding: 0.6% 0%;
	color: gray;
	font-size: 0.8em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.footer .row a {
	margin: 0 10px;
	text-decoration: none;
	color: gray;
	transition: 0.5s;
	font-size: large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer .row a:hover {
	color: #fff;
}

.footer .row ul {
	width: 100%;
}

.footer .row ul li {
	display: inline-block;
	margin: 0px 30px;
}

.footer .row a i {
	font-size: 2em;
	margin: 0% 1%;
}

@media (max-width:720px) {
	.footer {
		text-align: left;
		padding: 5%;
	}

	.footer .row ul li {
		display: block;
		margin: 10px 0px;
		text-align: left;
	}

	.footer .row a i {
		margin: 0% 3%;
	}
}

/*end footer*/




.navbar {
	background-color: #646363;
	border-bottom: 1px dashed rgb(3, 71, 133);
}



.heroText {
	font-size: 120%;
}
