/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #00000065;
}


/* Navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(206, 206, 206, 0.205);
  height: 150px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.company-name {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  position: relative;
  right: 25%;
  font-size: 150%;  
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

/* Main Content */
.main-content {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1200px;
}

.left-column {
  flex: 0 0 60%;
}

.right-column {
  flex: 0 0 50%;
}

/* Slideshow */
  #villa-slideshow {
    width: 100%;
    height: 800px;
    background-color: #ddd; /* Replace with your slideshow styles */
  }


/* Button Styling */
#villa-description button {
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
}

#villa-description button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0ff;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s, transform 0.3s;
  mix-blend-mode: overlay;
  pointer-events: none;
}

#villa-description button:hover {
  transform: scale(1.1);
}

#villa-description button:hover::before {
  opacity: 0.3;
  transform: scale(1.2);
}

#villa-description button span {
  position: relative;
  z-index: 2;
}


/* Button */
button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #444;
}

/* Footer */
footer {
  top: 100%;
  position: sticky;
  bottom: 0;
  background-color: #00000065;
  color: #fff;
  padding: 30px;
  text-align: center;
  width: 100%;
  /* Ensure it spans the full width */
}

.footer-sections {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}

.footer-section {
  margin: 10px;
}

.logo1 {
  width: 40px;
  height: auto;
}

a {
  margin: 0 10px;
}

.copyright {
  text-align: center;
  margin-top: 20px;
}

/* Form Styling */
#bidForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#bidForm input {
  margin-bottom: 10px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#bidForm input[type="submit"] {
  background-color: #008CBA;
  color: white;
  cursor: pointer;
}

#bidForm input[type="submit"]:hover {
  background-color: #004567;
}

#bidForm input.error {
  background-color: #FFCCCC;
}

/* Animation */
#bidForm input {
  transition: background-color 0.3s ease;
}

#bidForm input:hover {
  background-color: #f1f1f1;
}


.container a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid red;
  margin: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  letter-spacing: 5px;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
  transition: 0.5s;
}

.container a:hover {
  color: #000000;
  box-shadow: 0 0 10px orangered, 0 0 20px orangered, 0 0 40px orangered, 0 0 80px orangered, 0 0 160px orangered, 0 0 320px orangered, 0 0 640px orangered;
  transition-delay: 0.75s;
}

.container a span {
  position: relative;
  z-index: 1;
}

.container a {
  background-color: rgba(218, 165, 32, 0);
}

.container a::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background: red;
  box-shadow: 5px -8px 0 red, 5px 8px 0 red;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 0s, 0s;
}

.container a:hover::before {
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow: 5px 0 0 red, 5px 0 0 red;
  transition-delay: 0s, 0.25s, 0.5s;
}

.container a::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background: red;
  box-shadow: -5px -8px 0 red, -5px 8px 0 red;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 0s, 0s;
}

.container a:hover::after {
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow: -5px 0 0 red, -5px 0 0 red;
  transition-delay: 0s, 0.25s, 0.5s;
}


