/* Global Styles */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

/* Navigation Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.reg{
  position: relative;
  right: -30px;
}

/* Logo Styles */

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: auto;
}

/* Navigation Links Styles */

.nav-links {
  list-style: none;
  display: flex;
  align-items: right;
  margin-left: 10px;
  position: relative;
  right: 750px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ddd;
}

/* Container Styles */

.container {
  display: flex;
  position: relative;
  right: 100px;
}

.container a {
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(4, 73, 96);
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;
  position: relative;
}

.container a:hover {
  color: black;
  background-color: #27bdc2;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
}

.container a::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
}

.container a:hover::after {
  transform: scale(1.1);
  box-shadow: 0 0 15px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
}

/* Main Content Styles */

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Left and Right Column Styles */

.left-column, .right-column {
  width: 45%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Section Styles */

#villa-description,
#villa-location,
#bidding-section {
  margin-bottom: 20px;
}

/* Heading Styles */

h1,
h2 {
  color: #333;
}

/* Paragraph Styles */

p {
  color: #666;
}

/* Button Styles */

button[type="submit"] {
  color: #fff;
  background-color: #333;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button[type="submit"]:hover {
  transform: scale(1.05);
}

/* Bid Form Input Styles */

#bidForm input[type="text"],
#bidForm input[type="tel"],
#bidForm input[type="email"],
#bidForm input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

#bidForm input[type="submit"] {
  color: #fff;
  background-color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#bidForm input[type="submit"]:hover {
  transform: scale(1.05);
}

/* Footer Section Styles */


.footer-sections {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #333;
}

.footer-section h2 {
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}

/* Footer Styles */

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

footer a {
  margin: 0 10px;
  color: #fff;
}

/* Error Styles */

.error {
  border: 1px solid red;
}
