body{
    background: black;
}

.header{
    background: transparent;
    height: auto;
    width: 100%;
    height: auto;
}

.header span{
    font-family:Malgun Gothic;
    font-size: 250%;
    color: white;
    float: left;
    margin-top: 0px;
    margin-left: 5px;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    transition: .3s;
}

.header span:hover{
    cursor: pointer;
    background: linear-gradient(to right , #1c92d2 , #f2fcfe);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.bg1{
    clear: both;
}

.formbox{
    overflow: hidden;
    width:380px;
    height: 540px;
    border:solid black 3px;
    background: white;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top:6%;
    padding: 7px;
    color:white;
    border-radius:10px;
    
}


.button-box{
    width:220px;
    /*height: auto;*/
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px white;
    border-radius: 30px;
   
}

.togg-btn{
    padding: 10px 26.5px;
    cursor: pointer;
    background: transparent ;
    border:0;
    color:white;
    outline :none;
    position: relative;
    border-radius: 30px;
    
}

#btn{
    top:0%;
    left:0%;
    position:absolute;
    width: 110px;
    height: 100%;
    transition: 1s;
    background: rgb(52,154,175);
background: linear-gradient(90deg, rgba(52,154,175,1) 0%, rgba(65,65,198,1) 61%, rgba(11,8,52,1) 100%);;
    border-radius:30px;
    transition: .4s;
}

.social-icons{
    margin: 30px;
    text-align: center;
}

.social-icons img{
    width:30px;
    height: 30px;
    margin: 10px 19px;
    padding: 10px;
    cursor: progress;
  
}

.input-grp{
    top: 150px;
    transition: 1s;
    position:absolute;
    width: 290px;
}

.input-field{
    width: 100%;
    padding:9px 0;
    margin-top: 45px ;
    border-bottom: 2px solid white;
    border-top:none;
    border-right:none;
    border-left:0px;
    background:transparent;
    margin-left:15%;
    color:black;
    margin-left:5px;
}

.input-field1{
    width: 100%;
    padding:9px 0;
    margin-top: 45px ;
    border-bottom: 2px solid white;
    border-top:none;
    border-right:none;
    border-left:0px;
    background:transparent;
    margin-left:15%;
    color:black;
    
}


.check{
    margin-left:2%;  
    margin-top:5%;  
}

.check1{
    margin-left:15%;  
    margin-top:5%;
    width:10px;
    height:10px;
}

.clr{
    color:black;
}

span{
    color:white;
    font-family: monospace;
    margin-left:2%;
}

.smtbtn{
    width:85%;
    padding:10px 30px;
    margin-top: 15%;
    margin-bottom: 2px;
    margin-left: 10%;
    cursor:pointer;
    display:block;
    color:black;
    border:solid 1px white;
    background: rgb(52,154,175);
background: linear-gradient(90deg, rgba(52,154,175,1) 0%, rgba(65,65,198,1) 61%, rgba(11,8,52,1) 100%);;
    border-radius:30px;
}

.smtbtn1{
    width:85%;
    padding:10px 30px;
    margin-top: 15%;
    margin-bottom: 2px;
    margin-left: 23%;
    cursor:pointer;
    display:block;
    border:solid 1px white;
    background: rgb(52,154,175);
background: linear-gradient(90deg, rgba(52,154,175,1) 0%, rgba(65,65,198,1) 61%, rgba(11,8,52,1) 100%);
    border-radius:30px;
}


#login{
    left:50px;
}

#register{
    left:450px;
}


